@use '../partials/_variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PT Sans Narrow;
}

.container {
    margin: 0 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}